*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
   
    padding-bottom: 58px;
   
}
 







/* body content-image*/
.image{
    width: 30%;
    padding-top: 10%;
    margin-left: -5%;
}

main p{
    margin-left: 200px;
        font-size: 28px;
        text-align: left;
        margin-top: -270px;
        padding-left: 145px;
        width: 85%;
    }
    .btn{
        display: inline-block;
        background: #343a34;
        padding: 16px 0;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 55px;
        width: 100px;
        border-radius: 5px;
        text-decoration: none;
    
    }
    
    .welcome{
        margin-top: 8px;
        margin-left: 165px;
    font-size: 60px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    }
  /*  
    
*/
/*main content*/
main{
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
}

/*Footer*/
.site-footer{
    background-color: #343a34;
    text-align: center;
    color: white;
    padding: 20px;
position: fixed;
bottom: 0px;
width: 100%;

}




/* logo*/
.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
    padding-right: 15%;
    
    
}




/* navigation*/
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: #343a34;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* navigation-menu*/
.navigation-menu{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.navigation-menu li{
list-style: none;
}
.navigation-menu a{
    padding-left: 50%;
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.navigation-menu a:hover{
    color:palevioletred;

}
.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

/* Media Queries*/
/* breakpoints based on content for tablet*/
@media screen and (max-width:1024px){

.navigation-menu{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.logo{
       
    padding-left: 10%;
    
}
.navigation-menu a{
    padding-left: 10%;
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

main p{
    padding-top: 0%;
    margin-left: 200px;
        font-size: 24px;
        text-align: left;
        margin-top: -285px;
        padding-left: 145px;
        width: 80%;
    
    }

    .welcome{
        margin-top: 8px;
        margin-left: 165px;
    font-size: 60px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    }

    .image{
    
        width: 40%;
        padding-top: 10%;
        margin-left: -5%;
        height: 360px;
    }
    
/* breakpoints based on content for tablet ends here*/    
}







/* breakpoints based on content for mobile*/
@media screen and (max-width:768px){
    .logo{
       
        padding-left: 15%;
        
    }
    body{
        overflow-x: hidden;

    }
    .navigation-menu{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #343a34;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 28%;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;       
    }
   .navigation-menu li{
       opacity: 0;
   } 
   .burger{
       display: block;
   }

.navigation-active{
    transform: translateX(0%);
}
@keyframes navigationMenuFade {
    from{
        opacity: 0;
        transform: translateX(50%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

.toggle .line1{
transform:rotate(-45deg )translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform:rotate(45deg )translate(-5px,-6px);
}

.image{
    width: 85%;
    padding-top: 0%;
    padding-bottom: 30px;
    margin-left: 15%;
    height: 220px;
    
}
main p{
    margin-left: 20px;
        font-size: 20px;
        text-align: left;
        margin-top: 0px;
        padding-left: 45px;
        width: 100%;
    }
    .welcome{
        margin-top: 8px;
        margin-left: 0px;
    font-size: 40px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    }
/* breakpoints based on content for mobile ends here*/
}
