@()
@main("quiz"){
    <head>
        <link rel="stylesheet" media="screen" type="text/css" href=@routes.Assets.versioned("stylesheets/quiz.css") >

    </head>



            <!-- Start of the quiz content-->
        <div class="quiz">
            <div class="question-number">
                <h3>
        Question <span class="question-num-value"> 1</span> of <span class="total-question"> </span></h3>
            </div>
            <div class="question">

</div>
                <!--using &lt and &gt to escape contactForm tags -->
            <div class="options">

                <div id="1" class="option1" onclick="check(this)"> </div>
                <div id="2" class="option2" onclick="check(this)"> </div>
                <div id="3" class="option3" onclick="check(this)"> </div>
                <div id="4" class="option4" onclick="check(this)"> </div>
            </div>
            <div class="button">
                <button type="button" class="btn"  onclick="nextQuestion()"> next</button>
            </div>

        </div>
        <div class="quiz-over">
            <div class="box">
                <h1>
        Good Attempt<br>
                    Had <span class="correct-answers"></span> out of <span class="total-question2"></span>
                    correct! <br>

    </h1>
                <button type="button"   onclick="anotherAttempt()"> AttemptAgain</button>
            </div>
        </div>
            <!-- Satrt of main content-->
        <main>

</main>
}